extends template.pug

block content
    p.
        You have successfuly changed your password.#[br]
        You will be redirected to main page in a while... Otherwise you can click the link below:#[br]
	a(href="http://quick-notes.surge.sh") http://quick-notes.surge.sh
    script(src="redirect.js")