extends template.pug

block content
    p.
        An email has been sent with further instructions.#[br]
        You will be redirected soon... Otherwise you can click the link below:#[br]
	a(href="http://quick-notes.surge.sh") http://quick-notes.surge.sh
    script(src="redirect.js")