extends template.pug

block content
    p.mb-5 To finish your password recovery process you now need to set up a new password.
    form(action="http://localhost:5000/recover", method="post", oninput='pass2.setCustomValidity(pass2.value != pass.value ? "Passwords do not match." : "")')
        input(type="hidden", id="token", name="token", value="")
        .form-group
            label(for="password") New password
            input.form-control(type="password", id="password", name="pass", minlength="5", required)
        .form-group
            label(for="password2") Confirm new password
            input.form-control(type="password", id="password2", name="pass2", minlength="5", required)
        .form-group
            button.btn.btn-primary.btn-block.btn-lg(type="submit") Reset your password
    script(src="form.js")